"*":
  "autoclose-html":
    additionalGrammars: [
      "*"
    ]
    forceInline: [
      "*"
    ]
  "autocomplete-plus": {}
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "language-javascript-jsx"
      "react"
      "autoclose-html"
      "language-postcss"
      "double-tag"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      "*.map"
    ]
    packagesWithKeymapsDisabled: [
      "linter"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
  emmet: {}
  "exception-reporting":
    userId: "87aaffd2-7d8e-0d65-81f1-bf3dfdf551e2"
  "fuzzy-finder":
    ignoredNames: [
      ".git"
      "node_modules"
    ]
  "git-log": {}
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".node"
      ".jsx"
    ]
  "language-babel": {}
  "language-elm":
    elmOraclePath: "/usr/local/bin/elm-oracle"
  linter:
    lintOnFlyInterval: 10000
    showErrorPanel: false
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  react: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view": {}
  welcome:
    showOnStartup: false
